# 1Ô∏è‚É£ Unique Words in a Sentence

In [3]:
# Problem 1: Unique Words in a Sentence

sentence = input("Enter sentence: ")

words = sentence.split()     # Split sentence into words
unique_words = set(words)    # Remove duplicates using set

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: v i n ay
Unique words count: 4
Unique words: {'v', 'ay', 'i', 'n'}

# 2Ô∏è‚É£ Highest Salary from Employee Data

In [4]:
# Problem 2: Highest Salary

employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = max(employees, key=employees.get)
highest_salary = employees[highest_employee]

print("\nHighest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

# 3Ô∏è‚É£ Find Maximum and Minimum Values

In [5]:
# Problem 3: Max and Min from List

numbers = [45, 22, 89, 10, 66]

max_val = numbers[0]
min_val = numbers[0]

for num in numbers:
    if num > max_val:
        max_val = num
    if num < min_val:
        min_val = num

print("\nList:", numbers)
print("Max:", max_val)
print("Min:", min_val)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

# 4Ô∏è‚É£ Count Products Above Price Threshold

In [6]:
# Problem 4: Products above 1000

prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("\nProducts above 1000:", count)

Products above 1000: 2

# 5Ô∏è‚É£ Calculate Attendance Percentage

In [7]:
# Problem 5: Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]

present_days = attendance.count("P")
total_days = len(attendance)

percentage = (present_days / total_days) * 100

print("\nAttendance Percentage:", percentage)

Attendance Percentage: 80.0

# 6Ô∏è‚É£ Remove Duplicate Phone Numbers

In [8]:
# Problem 6: Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("\nUnique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

# 7Ô∏è‚É£ Count Character Frequency

In [9]:
text = "python"
freq = {}

for char in text:
    if char in freq:
        freq[char] += 1
    else:
        freq[char] = 1

print("\nCharacter Frequency:", freq)

Character Frequency: {'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# 8Ô∏è‚É£ Convert List to Tuple

In [10]:
# Problem 8: List to Tuple

numbers_list = [10, 20, 30]
numbers_tuple = tuple(numbers_list)

print("\nTuple:", numbers_tuple)

Tuple: (10, 20, 30)

#  9Ô∏è‚É£ Check if Key Exists in Dictionary

In [11]:
# Problem 9: Check Key in Dictionary

employees = {"Ravi": 75000, "Anita": 68000}
key = "Ravi"

if key in employees:
    print("\nEmployee exists")
else:
    print("\nEmployee does not exist")

Employee exists

# üîü Calculate Average Marks

In [12]:
# Problem 10: Average Marks

marks = [70, 75, 80, 65]

average = sum(marks) / len(marks)

print("\nAverage Marks:", average)

Average Marks: 72.5